# Projeto
- Tratamento de dados e Concatenação de planilhas do movimento de alunos dentro de todas as Unidades da Green Life academais no mês de outubro de 2024

### Objetivo
- Para saber como anda o movimento das academias para Tomada de Decisões. E fazer futuras comparações mensais do movimento das 17 unidades.Foram feitas limpeza das planilhas de cada unidade. E no final a concatenação de todas as frequencias de alunos de cada academia em uma só planilha contendo todo o movimento da rede Green Life.

### Importação das Bibliotecas

Run ALL Cels: Quando você executa o comando "Run All Cells" no JupyterLab (ou no Jupyter Notebook), as células não são executadas simultaneamente. Elas são executadas em sequência, de cima para baixo.

Sim, o Pandas é inteligente o suficiente para reconhecer e concatenar colunas com o mesmo nome, mesmo que elas estejam em ordens diferentes nos DataFrames que você está tentando juntar.

Se um dos DataFrames que você está concatenando possui colunas que não existem no outro, o Pandas irá preencher os valores correspondentes nessas colunas com NaN (Not a Number) para as linhas do DataFrame que não continha essas colunas.

In [1]:
import pandas as pd
import plotly.express as px

### Inicio: Aprender a ter acesso a cada aba do excel com o código abaixo. 
- If your Excel file has multiple sheets, you might need to specify the sheet name
- Sempre subtraia o número de linhas puladas pelo o total de linhas do dataset

# Messejana [MES] - PREPROCESSING 1

In [2]:
data1 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='MES', skiprows=1, nrows=98)

In [3]:
dataMES= data1.copy()

In [4]:
dataMES.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,NaN,NaN,QUADRA,BEACH TENNIS - INICIANTE,"seg, qua, sex",05:30:00,05:30,MANHÃ,BEACH TENNIS - INICIANTE - 05:30,...,0,0,x,3,x,13.0,0.923077,NaN,NaN,NaN
1,NaN,NaN,NaN,QUADRA,BEACH TENNIS - INTERMEDIÁRIO,"ter, qui",05:30:00,05:30,MANHÃ,BEACH TENNIS - INTERMEDIÁRIO - 05:30,...,x,x,5,x,6,11.0,4.636364,NaN,NaN,NaN
2,NaN,NaN,NaN,ADULTO,GREEN BIKE,"seg, qua,sex",06:00:00,06:00,MANHÃ,GREEN BIKE - 06:00,...,10,7,x,10,x,11.0,7.454545,NaN,NaN,0.0
3,NaN,NaN,NaN,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,CROSSFIT - 06:00,...,x,1,3,3,4,21.0,1.904762,NaN,NaN,0.0
4,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO COM PERSONAL - 06:00,...,8,8,2,10,8,23.0,6.608696,NaN,NaN,NaN

### 1 PASSO: Removendo colunas desnecessárias

In [5]:
del dataMES['Unnamed: 0']
del dataMES['Unnamed: 1']
del dataMES['Unnamed: 2']

In [6]:
del dataMES['HORÁRIO']
del dataMES['AUX 2']
del dataMES['AUX 3']

- PRECISAMOS RENOMEAR A COLUNA AUX1 COMO HORÁRIO

In [7]:
dataMES.rename(columns={'AUX 1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [8]:
for i in dataMES.columns:
    print(i)

CATEGORIA
MODALIDADE
DIA DA SEMANA
AUX.1
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [9]:
dataMES.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [10]:
dataMES.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [11]:
colunas = ['2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',]

Usando o loop for para mudar remover os zeros das colunas e alterar o nome para o dia, mês e ano

In [12]:
novas_colunas = []

In [13]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas.append(novo_nome)

colunas renomeadas com sucesso!

In [14]:
novas_colunas

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [15]:
dataMES.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [16]:
colunas = ['01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [17]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce').fillna(0).astype(int)

In [18]:
dataMES.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '01-10-2024', '02-10-2024', '03-10-2024', '04-10-2024',
       '07-10-2024', '08-10-2024', '09-10-2024', '10-10-2024', '11-10-2024',
       '14-10-2024', '15-10-2024', '16-10-2024', '17-10-2024', '18-10-2024',
       '21-10-2024', '22-10-2024', '23-10-2024', '24-10-2024', '25-10-2024',
       '28-10-2024', '29-10-2024', '30-10-2024', '31-10-2024',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

#### Selecionando colunas para o MELT

In [19]:
colunas_para_melt = [
    '01-10-2024',
    '02-10-2024',
    '03-10-2024',
    '04-10-2024',
    '07-10-2024',
    '08-10-2024',
    '09-10-2024',
    '10-10-2024',
    '11-10-2024',
    '14-10-2024',
    '15-10-2024',
    '16-10-2024',
    '17-10-2024',
    '18-10-2024',
    '21-10-2024',
    '22-10-2024',
    '23-10-2024',
    '24-10-2024',
    '25-10-2024',
    '28-10-2024',
    '29-10-2024',
    '30-10-2024',
    '31-10-2024']

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [20]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataMES.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [21]:
dataMES_melted = pd.melt(dataMES,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [22]:
dataMES_melted.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,QUADRA,BEACH TENNIS - INICIANTE,"seg, qua, sex",05:30,MANHÃ,KELY,13.0,0.923077,NaN,NaN,NaN,01-10-2024,0
1,QUADRA,BEACH TENNIS - INTERMEDIÁRIO,"ter, qui",05:30,MANHÃ,KELY,11.0,4.636364,NaN,NaN,NaN,01-10-2024,4
2,ADULTO,GREEN BIKE,"seg, qua,sex",06:00,MANHÃ,LINDY,11.0,7.454545,NaN,NaN,0.0,01-10-2024,0

In [23]:
dataMES_melted['Frequencia de Alunos'].sum()

np.int64(26782)

# Aldeota [ALD] - PREPROCESSING 2

In [24]:
data2 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='ALD', skiprows=1, nrows=204)

In [25]:
dataALD= data2.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [26]:
dataALD.head(3)

,,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,AUX 1,AUX 2,PROFESSOR,AUX 3,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,ADULTO,BEACH GYM,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,BEACH GYM - 06:00,ISABELLE VERMONTT,BEACH GYM - ISABELLE VERMONTT,...,0,0,2,0,2,17,1.470588,NaN,NaN,NaN
1,NaN,ADULTO,GREEN BIKE,"seg, qua, sex",06:00:00,06:00,MANHÃ,GREEN BIKE - 06:00,GIL,GREEN BIKE - GIL,...,12,10,x,10,x,11,14.181818,NaN,NaN,0.0
2,NaN,QUADRA,BEACH TENIS,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,BEACH TENIS - 06:00,LUCAS,BEACH TENIS - LUCAS,...,4,2,8,3,8,20,5.400000,NaN,NaN,0.0

In [27]:
del dataALD[' ']
del dataALD['HORÁRIO']
del dataALD['AUX 2']
del dataALD['AUX 3']

- PRECISAMOS RENOMEAR A COLUNA TURNO COMO HORARIO, DEPOIS
- PRECISAMOS RENOMEAR A COLUNA AUX1 COMO TURNO

In [28]:

dataALD.rename(columns={'TURNO': 'HORÁRIO',
                    'AUX 1': 'TURNO'}, inplace=True)

In [ ]:
dataALD.head(3)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataALD.columns:
    print(columns)

In [ ]:
dataALD.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [ ]:
dataALD.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = ['2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00'
]

In [ ]:
novas_colunas_ALD = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_ALD.append(novo_nome)

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
for columns in dataALD.columns:
    print (columns)

In [ ]:
dataALD.columns= [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [ ]:
# Novas colunas
novas_colunas_ALD

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataALD[columns] = pd.to_numeric(dataALD[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataALD.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [ ]:
dataALD_melted = pd.melt(dataALD,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataALD_melted.head(3)

In [ ]:
dataALD_melted['Frequencia de Alunos'].sum()

# Fatima [FAT] - PREPROCESSING 3

In [ ]:
data3 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='FAT', skiprows=1, nrows=88)

In [ ]:
dataFAT = data3.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataFAT.head(3)

In [ ]:
del dataFAT['Unnamed: 0']
del dataFAT['Unnamed: 1']
del dataFAT['Unnamed: 2']

In [ ]:
del dataFAT['HORÁRIO']
del dataFAT['AUX 2']
del dataFAT['AUX 3']

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataFAT.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [ ]:
dataFAT.head(3)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataFAT.columns:
    print(columns)

In [ ]:
dataFAT.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [ ]:
dataFAT.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00']

In [ ]:
novas_colunas_FAT = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_FAT.append(novo_nome)

In [ ]:
novas_colunas_FAT

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
for columns in dataFAT.columns:
    print (columns)

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
dataFAT.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima0',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataFAT[columns] = pd.to_numeric(dataFAT[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataFAT.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [ ]:
dataFAT_melted = pd.melt(dataFAT,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataFAT_melted.head(3)

In [ ]:
dataFAT_melted['Frequencia de Alunos'].sum()

# BOOTCAMP [BOOT] - PREPROCESSING 4

In [ ]:
data4 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='BOOTCAMP', skiprows=1, nrows=41)

In [ ]:
dataBOOT = data4.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataBOOT.head(3)

In [ ]:
dataBOOT.iloc[0]

In [ ]:
dataBOOT.iloc[-1]

In [ ]:
dataBOOT.columns

In [ ]:
del dataBOOT['Unnamed: 0']
del dataBOOT['Unnamed: 1']
del dataBOOT['Unnamed: 2']
del dataBOOT['Unnamed: 39']

In [ ]:
del dataBOOT['HORÁRIO']

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataBOOT.rename(columns={'AUX1': 'HORÁRIO'}, inplace=True)
# Ajeitando o nome da média
dataBOOT.rename(columns={'MÉDIA': 'Média'}, inplace=True)

In [ ]:
dataBOOT.head(3)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataBOOT.columns:
    print(columns)

In [ ]:
dataBOOT.columns = [
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-05 00:00:00',
'2024-10-06 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-12 00:00:00',
'2024-10-13 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-19 00:00:00',
'2024-10-20 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-26 00:00:00',
'2024-10-27 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média'
]

In [ ]:
dataBOOT.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-05 00:00:00',
'2024-10-06 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-12 00:00:00',
'2024-10-13 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-19 00:00:00',
'2024-10-20 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-26 00:00:00',
'2024-10-27 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_BOOT = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_BOOT.append(novo_nome)

In [ ]:
novas_colunas_BOOT

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
for columns in dataBOOT.columns:
    print (columns)

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
dataBOOT.columns = [
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'05-10-2024',
'06-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'12-10-2024',
'13-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'19-10-2024',
'20-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'26-10-2024',
'27-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'05-10-2024',
'06-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'12-10-2024',
'13-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'19-10-2024',
'20-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'26-10-2024',
'27-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataBOOT[columns] = pd.to_numeric(dataBOOT[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'05-10-2024',
'06-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'12-10-2024',
'13-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'19-10-2024',
'20-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'26-10-2024',
'27-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataBOOT.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [ ]:
dataBOOT_melted = pd.melt(dataBOOT,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataBOOT_melted.head(3)

In [ ]:
dataBOOT_melted['Frequencia de Alunos'].sum()

### Adicionando colunas Faltantes

Adicionando uma colunas condicional para o TURNO no BOOTCAMPE

In [ ]:
# Aplica a lógica condicional para criar a coluna 'TURNO' usando .loc e comparação de strings
dataBOOT_melted.loc[dataBOOT_melted['HORÁRIO'] <= '12:30', 'TURNO'] = 'MANHÃ'
dataBOOT_melted.loc[dataBOOT_melted['HORÁRIO'] > '12:30', 'TURNO'] = 'NOITE'

In [ ]:
# Adicionando a coluna de PROFESSOR
dataBOOT_melted['PROFESSOR'] = 'SEM NOME'

In [ ]:
dataBOOT_melted.head(2)

# CAMBEBA [CAMB] - PREPROCESSING 5

In [ ]:
data5 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='CAMB', skiprows=1, nrows=88)

In [ ]:
dataCAMB = data5.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataCAMB.tail()

In [ ]:
# verificando a series de index pra saber a ultima linha
dataCAMB.iloc[-2]

In [ ]:
# selecionando colunas para o drop
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3',
           'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47']

In [ ]:
dataCAMB.drop(columns= dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataCAMB.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [ ]:
dataCAMB

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataCAMB.columns:
    print(columns)

In [ ]:
dataCAMB.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [ ]:
dataCAMB.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_CAMB = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_CAMB.append(novo_nome)

In [ ]:
novas_colunas_CAMB

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
for columns in dataCAMB.columns:
    print (columns)

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
dataCAMB.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',    
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',    
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataCAMB[columns] = pd.to_numeric(dataCAMB[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataCAMB.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [ ]:
dataCAMB_melted = pd.melt(dataCAMB,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataCAMB_melted.head(3)

In [ ]:
dataCAMB_melted['Frequencia de Alunos'].sum()

# EUSEBIO [EUS] - PREPROCESSING 6

In [ ]:
data6 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='EUS', skiprows=1, nrows=100)

In [ ]:
dataEUS = data6.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataEUS.tail(3)

In [ ]:
dataEUS.iloc[97]

In [ ]:
dataEUS.columns

In [ ]:
dataEUS[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3']].head(3)

In [ ]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3']

In [ ]:
dataEUS.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataEUS.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [ ]:
dataEUS.head(3)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataEUS.columns:
    print(columns)

In [ ]:
dataEUS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [ ]:
dataEUS.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_EUS = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_EUS.append(novo_nome)

In [ ]:
novas_colunas_EUS

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataEUS.columns:
    print (columns)

In [ ]:
dataEUS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',   
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataEUS[columns] = pd.to_numeric(dataEUS[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataEUS.columns if columns not in colunas_para_melt]

In [ ]:
dataEUS_melted = pd.melt(dataEUS,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataEUS_melted.head(3)

In [ ]:
dataEUS_melted['Frequencia de Alunos'].sum()

# GUARARÁPES [GUA] - PREPROCESSING 7

In [ ]:
data7 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='GUA', skiprows=1, nrows=165)

In [ ]:
dataGUA = data7.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataGUA.tail(3)

In [ ]:
dataGUA.iloc[-1]

In [ ]:
dataGUA[[' ', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3']].head(2)

In [ ]:
dropColuns = [' ', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [ ]:
dataGUA.drop(columns=dropColuns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataGUA.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [ ]:
dataGUA.head(2)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataGUA.columns:
    print(columns)

In [ ]:
dataGUA.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [ ]:
dataGUA.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_GUA = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_GUA.append(novo_nome)

In [ ]:
novas_colunas_GUA

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataGUA.columns:
    print (columns)

In [ ]:
dataGUA.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataGUA[columns] = pd.to_numeric(dataGUA[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataGUA.columns if columns not in colunas_para_melt]

In [ ]:
dataGUA_melted = pd.melt(dataGUA,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataGUA_melted.head(3)

In [ ]:
dataGUA_melted['Frequencia de Alunos'].sum()

In [ ]:
# Aplica a lógica condicional para criar a coluna 'TURNO' usando .loc e comparação de strings
dataGUA_melted.loc[dataGUA_melted['HORÁRIO'] <= '12:30', 'TURNO'] = 'MANHÃ'
dataGUA_melted.loc[dataGUA_melted['HORÁRIO'] > '12:30', 'TURNO'] = 'NOITE'

In [ ]:
dataGUA_melted.head(2)

# KENNEDY [KEN] - PREPROCESSING 8

In [ ]:
data8 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='KEN', skiprows=1, nrows=99)

In [ ]:
dataKEN = data8.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataKEN.tail(3)

In [ ]:
dataKEN.iloc[-1]

In [ ]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1','Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3',
              'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46','Unnamed: 47']

In [ ]:
dataKEN.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataKEN.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [ ]:
dataKEN.head(2)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataKEN.columns:
    print(columns)

In [ ]:
dataKEN.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [ ]:
dataKEN.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_KEN = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_KEN.append(novo_nome)

In [ ]:
novas_colunas_KEN

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataKEN.columns:
    print (columns)

In [ ]:
dataKEN.columns =[
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataKEN[columns] = pd.to_numeric(dataKEN[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataKEN.columns if columns not in colunas_para_melt]

In [ ]:
dataKEN_melted = pd.melt(dataKEN,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataKEN_melted.head(2)

In [ ]:
dataKEN_melted['Frequencia de Alunos'].sum()

# MARANGUAPE [MPE] - PREPROCESSING 9

In [ ]:
data9 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='MPE', skiprows=1, nrows=77)

In [ ]:
dataMPE = data9.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataMPE.tail(3)

In [ ]:
dataMPE.iloc[-1]

In [ ]:
dataMPE.columns

In [ ]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [ ]:
dataMPE.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataMPE.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [ ]:
dataMPE.head(2)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataMPE.columns:
    print(columns)

In [ ]:
dataMPE.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [ ]:
dataMPE.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_MPE = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_MPE.append(novo_nome)

In [ ]:
novas_colunas_MPE

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataMPE.columns:
    print (columns)

In [ ]:
dataMPE.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataMPE[columns] = pd.to_numeric(dataMPE[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataMPE.columns if columns not in colunas_para_melt]

In [ ]:
dataMPE_melted = pd.melt(dataMPE,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataMPE_melted.head(2)

In [ ]:
dataMPE_melted['Frequencia de Alunos'].sum()

# MARAPONGA [MAR] - PREPROCESSING 10

In [ ]:
data10 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='MAR', skiprows=1, nrows=86)

In [ ]:
dataMAR = data10.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataMAR.tail(3)

In [ ]:
dataMAR.iloc[-1]

In [ ]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [ ]:
dataMAR.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataMAR.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [ ]:
dataMAR.head(2)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataMAR.columns:
    print(columns)

In [ ]:
dataMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [ ]:
dataMAR.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_MAR = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_MAR.append(novo_nome)

In [ ]:
novas_colunas_MAR

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataMAR.columns:
    print (columns)

In [ ]:
dataMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataMAR[columns] = pd.to_numeric(dataMAR[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataMAR.columns if columns not in colunas_para_melt]

In [ ]:
dataMAR_melted = pd.melt(dataMAR,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataMAR_melted.head(2)

In [ ]:
dataMAR_melted['Frequencia de Alunos'].sum()

# SUL [SUL] - PREPROCESSING 11

In [ ]:
data11 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='SUL', skiprows=1, nrows=110)

In [ ]:
dataSUL = data11.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataSUL.tail(2)

In [ ]:
dataSUL.iloc[-1]

In [ ]:
dataSUL.iloc[0]

In [ ]:
dropColumns = ['Unnamed: 0' , 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 40',
               'HORÁRIO', 'AUX 2', 'AUX 3']

In [ ]:
dataSUL.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataSUL.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataSUL.columns:
    print(columns)

In [ ]:
dataSUL.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [ ]:
dataSUL.columns

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_SUL = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_SUL.append(novo_nome)

In [ ]:
novas_colunas_SUL

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataSUL.columns:
    print (columns)

In [ ]:
dataSUL.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataSUL[columns] = pd.to_numeric(dataSUL[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataSUL.columns if columns not in colunas_para_melt]

In [ ]:
dataSUL_melted = pd.melt(dataSUL,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataSUL_melted.head(2)

In [ ]:
dataSUL_melted['Frequencia de Alunos'].sum()

# RUI BARBOSA [RUI] - PREPROCESSING 12

In [ ]:
data12 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='RUI', skiprows=1, nrows=88)

In [ ]:
dataRUI = data12.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataRUI.head(2)

In [ ]:
dataRUI.iloc[0]

In [ ]:
dataRUI.iloc[-1]

In [ ]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2',
               'AUX 3', 'HORÁRIO']

In [ ]:
dataRUI.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataRUI.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataRUI.columns:
    print(columns)

In [ ]:
dataRUI.columns=[
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [ ]:
dataRUI.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_RUI = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_RUI.append(novo_nome)

In [ ]:
novas_colunas_RUI

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataRUI.columns:
    print (columns)

In [ ]:
dataRUI.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataRUI[columns] = pd.to_numeric(dataRUI[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataRUI.columns if columns not in colunas_para_melt]

In [ ]:
dataRUI_melted = pd.melt(dataRUI,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataRUI_melted.head(2)

In [ ]:
dataRUI_melted['Frequencia de Alunos'].sum()

# PASSARÉ [PAS] - PREPROCESSING 13

In [ ]:
data13 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='PAS', skiprows=1, nrows=89)

In [ ]:
dataPAS = data13.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataPAS.head(2)

In [ ]:
dataPAS.iloc[0]

In [ ]:
dataPAS.iloc[-1]

In [ ]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO',
               'AUX 2', 'AUX 3', 'Unnamed: 40']

In [ ]:
dataPAS.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataPAS.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataPAS.columns:
    print(columns)

In [ ]:
dataPAS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [ ]:
dataPAS.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00'
]

In [ ]:
novas_colunas_PAS = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_PAS.append(novo_nome)

In [ ]:
novas_colunas_PAS

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataPAS.columns:
    print (columns)

In [ ]:
dataPAS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataPAS[columns] = pd.to_numeric(dataPAS[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataPAS.columns if columns not in colunas_para_melt]

In [ ]:
dataPAS_melted = pd.melt(dataPAS,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataPAS_melted.head(2)

In [ ]:
dataPAS_melted['Frequencia de Alunos'].sum()

# PARQUELÂNDIA [PARQ] - PREPROCESSING 14

In [ ]:
data14 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='PARQ', skiprows=1, nrows=66)

In [ ]:
dataPARQ = data14.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataPARQ.head(2)

In [ ]:
dataPARQ.iloc[0]

In [ ]:
dataPARQ.iloc[-1]

In [ ]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
 'HORÁRIO', 'AUX 2', 'AUX 3', 'Unnamed: 41', 'Unnamed: 42',
 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
 'Unnamed: 47', 'Unnamed: 48']

In [ ]:
dataPARQ.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataPARQ.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataPARQ.columns:
    print(columns)

In [ ]:
dataPARQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [ ]:
dataPARQ.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',]

In [ ]:
novas_colunas_PARQ = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_PARQ.append(novo_nome)

In [ ]:
novas_colunas_PARQ

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataPARQ.columns:
    print (columns)

In [ ]:
dataPARQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataPARQ[columns] = pd.to_numeric(dataPARQ[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricosM

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataPARQ.columns if columns not in colunas_para_melt]

In [ ]:
dataPARQ_melted = pd.melt(dataPARQ,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataPARQ_melted.head(2)

In [ ]:
dataPARQ_melted['Frequencia de Alunos'].sum()

# PERSONAL [PERS] - PREPROCESSING 15

In [ ]:
data15 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='PERS', skiprows=2, nrows=180)

In [ ]:
dataPERS = data15.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataPERS.head(2)

In [ ]:
dataPERS.iloc[0]

In [ ]:
dataPERS.iloc[-1]

In [ ]:
dropColumns = [
'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO',
'AUX 2', 'AUX 3', 'Unnamed: 37', 'Unnamed: 38']

In [ ]:
dataPERS.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataPERS.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataPERS.columns:
    print(columns)

In [ ]:
dataPERS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'0']

In [ ]:
dataPERS['0'].unique()

In [ ]:
dataPERS.columns

In [ ]:
search = (dataPERS['0'] == 'Professor')
dataPERS[search]

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [ ]:
novas_colunas_PERS = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_PERS.append(novo_nome)

In [ ]:
novas_colunas_PERS

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataPERS.columns:
    print (columns)

In [ ]:
dataPERS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01',
'2024-10-02',
'2024-10-03',
'2024-10-04',
'2024-10-07',
'2024-10-08',
'2024-10-09',
'2024-10-10',
'2024-10-11',
'2024-10-14',
'2024-10-15',
'2024-10-16',
'2024-10-17',
'2024-10-18',
'2024-10-21',
'2024-10-22',
'2024-10-23',
'2024-10-24',
'2024-10-25',
'2024-10-28',
'2024-10-29',
'2024-10-30',
'2024-10-31',
'Média alunos p/ professor',
'Média',
'0']

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'2024-10-01',
'2024-10-02',
'2024-10-03',
'2024-10-04',
'2024-10-07',
'2024-10-08',
'2024-10-09',
'2024-10-10',
'2024-10-11',
'2024-10-14',
'2024-10-15',
'2024-10-16',
'2024-10-17',
'2024-10-18',
'2024-10-21',
'2024-10-22',
'2024-10-23',
'2024-10-24',
'2024-10-25',
'2024-10-28',
'2024-10-29',
'2024-10-30',
'2024-10-31',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataPERS[columns] = pd.to_numeric(dataPERS[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'2024-10-01',
'2024-10-02',
'2024-10-03',
'2024-10-04',
'2024-10-07',
'2024-10-08',
'2024-10-09',
'2024-10-10',
'2024-10-11',
'2024-10-14',
'2024-10-15',
'2024-10-16',
'2024-10-17',
'2024-10-18',
'2024-10-21',
'2024-10-22',
'2024-10-23',
'2024-10-24',
'2024-10-25',
'2024-10-28',
'2024-10-29',
'2024-10-30',
'2024-10-31',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataPERS.columns if columns not in colunas_para_melt]

In [ ]:
dataPERS_melted = pd.melt(dataPERS,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataPERS_melted.head(2)

In [ ]:
del dataPERS_melted['0']

In [ ]:
dataPERS_melted['Frequencia de Alunos'].sum()

# JÓQUEI [JÓQ] - PREPROCESSING 16

In [ ]:
data16 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='JÓQ', skiprows=1, nrows=106)

In [ ]:
dataJOQ = data16.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataJOQ.head(2)

In [ ]:
dataJOQ.iloc[0]

In [ ]:
dataJOQ.iloc[-1]

In [ ]:
dropColumns = [
'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO',
'AUX 2', 'AUX 3']

In [ ]:
dataJOQ.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataJOQ.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataJOQ.columns:
    print(columns)

In [ ]:
dataJOQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [ ]:
dataJOQ.columns

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00']

In [ ]:
novas_colunas_JOQ = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_JOQ.append(novo_nome)

In [ ]:
novas_colunas_JOQ

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataJOQ.columns:
    print (columns)

In [ ]:
dataJOQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [ ]:
dataJOQ.columns

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataJOQ[columns] = pd.to_numeric(dataJOQ[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataJOQ.columns if columns not in colunas_para_melt]

In [ ]:
dataJOQ_melted = pd.melt(dataJOQ,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataJOQ_melted.head(2)

In [ ]:
dataJOQ_melted['Frequencia de Alunos'].sum()

## RIOMAR [RIOMAR] - PREPROCESSING 17

In [ ]:
data17 = pd.read_excel('Frequencia de Alunos Green Life Academias - outubro de 2024.xlsx', sheet_name='RIOMAR', skiprows=1, nrows=211)

In [ ]:
dataRIOMAR = data17.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [ ]:
dataRIOMAR.head(2)

In [ ]:
dataRIOMAR.iloc[0]

In [ ]:
dataRIOMAR.iloc[-1]

In [ ]:
dropColumns = ['Unnamed: 0', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [ ]:
dataRIOMAR.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [ ]:
dataRIOMAR.rename(columns={'TURNO': 'HORÁRIO'}, inplace=True)
dataRIOMAR.rename(columns={'AUX 1': 'TURNO'}, inplace=True)

In [ ]:
dataRIOMAR[['TURNO', 'HORÁRIO']].head(2)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [ ]:
for columns in dataRIOMAR.columns:
    print(columns)

In [ ]:
dataRIOMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [ ]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00']

In [ ]:
novas_colunas_RIOMAR = []

In [ ]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_RIOMAR.append(novo_nome)

In [ ]:
novas_colunas_RIOMAR

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [ ]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [ ]:
for columns in dataRIOMAR.columns:
    print (columns)

In [ ]:
dataRIOMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [ ]:
dataRIOMAR.columns

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [ ]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [ ]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataRIOMAR[columns] = pd.to_numeric(dataRIOMAR[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [ ]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [ ]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataRIOMAR.columns if columns not in colunas_para_melt]

In [ ]:
dataRIOMAR_melted = pd.melt(dataRIOMAR,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [ ]:
dataRIOMAR_melted.head(2)

In [ ]:
dataRIOMAR_melted['Frequencia de Alunos'].sum()

# ULTIMOS AJUSTES PARA CONCATENÇÃO E EXPORTAÇÃO

checando, são as todas as colunas e as quantidades das frequencias
- CATEGORIA
- MODALIDADE
- DIA DA SEMANA
- HORÁRIO
- TURNO
- PROFESSOR

1. MESSAJANA [MES]
- Colunas: OK
- Soma das Frequencias: OK

### Concatenação Final

In [ ]:
# Suponha que seus DataFrames (dataMES_melted, etc.) já estejam definidos

lista_de_dataframes = [
    dataMES_melted, dataALD_melted, dataFAT_melted, dataBOOT_melted, dataCAMB_melted,
    dataEUS_melted, dataGUA_melted, dataKEN_melted, dataMPE_melted, dataMAR_melted,
    dataSUL_melted, dataRUI_melted, dataPAS_melted, dataPARQ_melted, dataPERS_melted,
    dataJOQ_melted, dataRIOMAR_melted]

In [ ]:
nomes_unidades = [
    'MESSEJANA', 'ALDEOTA', 'FATIMA', 'BOOTCAMP', 'CAMBEBA',
    'EUSÉBIO', 'GUARARÁPES', 'KENNEDY', 'MARANGUAPE', 'MARAPONGA',
    'SUL', 'RUI BARBOSA', 'PASSARÉ', 'PARQUELÂNDIA', 'PERSONAL',
    'JÓQUEI', 'RIOMAR'
]

In [ ]:
dataframe_concatenado = pd.concat(lista_de_dataframes, keys=nomes_unidades, names=['Unidade'], ignore_index=False)

In [ ]:
dataframe_concatenado = dataframe_concatenado.reset_index(level='Unidade')

In [ ]:
dataframe_concatenado.head(2)

#### Exportando

In [ ]:
dataframe_concatenado.to_excel('frequencia_concatenado_limpo_08-04-2025.xlsx', index=False)